backend/.aws-sam

.DS_Store
node_modules
dist
dist-ssr
coverage
*.local
.vscode

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

/cypress/videos/
/cypress/screenshots/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
frontend/.DS_Store/*
frontend/public/.DS_Store/*
frontend/src/assets/.DS_Store
frontend/src/services/AWSConfig.js
SECURITY_FIX_SUMMARY.md
